@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h3 class="text-left">Home, sweet home</h3>
<div class="tcontainer-fluid text-center text-md-left">
    <p>We need to revive this box, as now many blocks are N/A. Navigate to <a href="/TheCode" class="alert-link">TheCode</a> for adventure...</p>
    <div class="row">
        <div class="col-md-3 mt-md-0 mt-3">
            <div class="card">
                <div class="card-body">
                    <h6>Power unit</h6>
                    <p>Status N/A</p>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-body">
                    <h6>Cooling unit</h6>
                    <p>Status N/A</p>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-body">
                    <h6>Memory unit</h6>
                    <p>RAM N/A</p>
                    <p>FLASH N/A</p>
                    <p>SD N/A</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-md-0 mt-3">
            <div class="card">
                <div class="card-body">
                    <h6>Wired links</h6>
                    <p>UART N/A</p>
                    <p>I2C N/A</p>
                    <p>SPI N/A</p>
                    <p>ETH N/A</p>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-body">
                    <h6>Wireless links</h6>
                    <p>WiFi N/A</p>
                    <p>ZigBee N/A</p>
                    <p>Bluetooth N/A</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-md-0 mt-3">
            <div class="card">
                <div class="card-body">
                    <h6>BMP280</h6>
                    <p>Power N/A</p>
                    <p>Status N/A</p>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-body">
                    <h6>CCS811</h6>
                    <p>Power N/A</p>
                    <p>Status N/A</p>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-body">
                    <h6>E18-MS1</h6>
                    <p>Power N/A</p>
                    <p>Status N/A</p>
                </div>
            </div>
        </div>
    </div>
</div>
