@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Navigate to <a href="/TheCode" class="alert-link">TheCode</a> for adventure...</p>
</div>
