@page
@model IndexModel
@{
    ViewData["Title"] = "Network Connection";
}

<div class="text-center">
    <h1 class="display-4">Setup network connection</h1>
    <p>Please plug-in ethernet cable or setup wifi connection</p>
</div>
