@page
@model SettingsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Settings";
}
<h3 class="text-left">Settings, twist it around</h3>
<div class="accordion" id="settingsAccordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading1">
            <button class="accordion-button  collapsed" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                Wifi connection
            </button>
        </h2>
        <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#settingsAccordion">
            <div class="accordion-body">
                <form class="text-left col-md-4" method="post">
                    <fieldset>
                        <legend>Enter your WiFi connection details</legend>
                        <div class="form-group">
                            <label asp-for="WifiCreds.SSID" class="form-label">SSID</label>
                            @*<span asp-validation-for="WifiCreds.SSID" class="text-danger"></span>*@
                            <div class="input-group">
                                <input asp-for="WifiCreds.SSID" type="text" class="form-control" placeholder="Enter your SSID">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Choose SSID
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        @foreach (var item in Model.SSIDList)
                                        {
                                            <li><a href="#" class="dropdown-item">@item</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <small id="ssidHelp" class="form-text text-muted">It should be same network with your ssh device</small>
                        </div>
                        <div class="form-group">
                            <label asp-for="WifiCreds.Password" class="form-label">Password</label>
                            <input asp-for="WifiCreds.Password" type="password" class="form-control" placeholder="Enter your password">
                        </div>
                    </fieldset>
                    <br />
                    <button type="submit" class="btn btn-light" asp-page-handler="WiFIConnect">Connect</button>
                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                User management
            </button>
        </h2>
        <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-parent="#settingsAccordion">
            <div class="accordion-body">
                <form class="text-left col-md-4" method="post">
                    <fieldset>
                        <legend>Set new root password</legend>
                        <div class="form-group">
                            <label asp-for="UserCreds.Password" class="form-label">Password</label>
                            <input asp-for="UserCreds.Password" type="password" class="form-control" placeholder="Enter new password">
                            @*<span asp-validation-for="UserCreds.Password" class="text-danger"></span>*@
                        </div>
                    </fieldset>
                    <br />
                    <button type="submit" class="btn btn-light" asp-page-handler="UserManagementSetRootPSWD">Set</button>
                </form>
                    <br />
                <form class="text-left col-md-4" method="post">
                    <fieldset>
                        <legend>Add new user</legend>
                        <div class="form-group">
                            <label asp-for="UserCreds.User" class="form-label">User</label>
                            <input asp-for="UserCreds.User" class="form-control" placeholder="Enter user name">
                            @*<span asp-validation-for="UserCreds.User" class="text-danger"></span>*@
                        </div>
                        <div class="form-group">
                            <label asp-for="UserCreds.Password" class="form-label">Password</label>
                            <input asp-for="UserCreds.Password" type="password" class="form-control" placeholder="Enter new password">
                            @*<span asp-validation-for="UserCreds.Password" class="text-danger"></span>*@
                        </div>
                    </fieldset>
                    <br />
                    <button type="submit" class="btn btn-light" asp-page-handler="UserManagementCreateUser">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(".dropdown-menu li a").click(function () {
            $(this).parents(".input-group").find('.form-control').val($(this).text());
            $(this).parents(".input-group").find('.form-control').text($(this).text());
            //$(this).parents(".dropdown").find('.btn').val($(this).data('value'));
        });
    </script>
}