@page
@model SettingsModel
@{
    ViewData["Title"] = "Network Connection";
}
<div class="text-center">
    <h1 class="display-4">Setup network connection</h1>
    <p>Please setup wifi connection or plug-in ethernet cable and setup IP</p>
</div>
<form class="text-left col-md-4" asp-page-handler="WiFIConnect" method="post">
    <fieldset>
        <legend>Enter your WiFi connection details</legend>
        <div class="form-group">
            <label asp-for="WiFiCreds.SSID" class="form-label">SSID</label>
            <span asp-validation-for="WiFiCreds.SSID" class="text-danger"></span>
            <div class="input-group">
                <input asp-for="WiFiCreds.SSID" type="text" class="form-control" placeholder="Enter your SSID">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose SSID
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        @foreach (var item in Model.SSIDList)
                        {
                            <li><a href="#" class="dropdown-item">@item</a></li>
                        }
                    </ul>
                </div>
            </div>
            <small id="ssidHelp" class="form-text text-muted">It should be same network with your ssh device</small>
        </div>
        <div class="form-group">
            <label asp-for="WiFiCreds.Password" class="form-label">Password</label>
            <input asp-for="WiFiCreds.Password" type="password" class="form-control" placeholder="Enter your password">
        </div>
    </fieldset>
    <br />
    <button type="submit" class="btn btn-light">Connect</button>
</form>
@section scripts{
    <script>
        $(".dropdown-menu li a").click(function () {
            $(this).parents(".input-group").find('.form-control').val($(this).text());
            $(this).parents(".input-group").find('.form-control').text($(this).text());
            //$(this).parents(".dropdown").find('.btn').val($(this).data('value'));
        });
    </script>
}