@page
@model IndexModel
@{
    ViewData["Title"] = "TheCode";
}
<h3 class="text-left">The Code, they say</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-center">Ezi pizi</h3>
            <br />
            <div class="card text-justify">
                <div class="card-body">
                    <h4 class="card-title">Revive it!</h4>
                    <h6 class="card-subtitle mb-2 text-muted">3v3 is missing...</h6>
                    <p class="card-text">We are missing 3v3 from main board, seems like control signal is not given. Try to trace schematic for 3v3 enable signal and check if following pin is UP.</p>
                    <a href="#" class="card-link">code</a>
                </div>
            </div>
            <br />
            <div class="card text-justify">
                <div class="card-body">
                    <h4 class="card-title">I/O expander</h4>
                    <h6 class="card-subtitle mb-2 text-muted">More I/O to gods of I/O</h6>
                    <p class="card-text">As per schematic, each power enable of next module comes from 74AHCT595. It is old trick to expand your I/Os.</p>
                    <a href="#" class="card-link">code</a>
                </div>
            </div>
            <br />
            <div class="card text-justify">
                <div class="card-body" @*style="display: none"*@>
                    <h4 class="card-title">FAN and PWM</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Air cooling</h6>
                    <p class="card-text">As per schematic, FAN1 and FAN2 is controlled by PWM, software PWM.</p>
                    <a href="#" class="card-link">code</a>
                </div>
                @*<div class="card-body">
                <h4 class="card-title">Locked</h4>
                <h6 class="card-subtitle mb-2 text-muted">Try to fix other parts</h6>
            </div>*@
            </div>
        </div>
        <div class="col-md-4">
            <h3 class="text-center">Dive deeper</h3>
            <br />
            <div class="card text-justify">
                <div class="card-body" @*style="display: none"*@>
                    <h4 class="card-title">BMP280</h4>
                    <h6 class="card-subtitle mb-2 text-muted">PSI and ℃</h6>
                    <p class="card-text">As per schematic, BMP280 data line is I2C bus.</p>
                    <a href="#" class="card-link">code</a>
                </div>
                @*<div class="card-body">
                <h4 class="card-title">Locked</h4>
                <h6 class="card-subtitle mb-2 text-muted">Try to fix other parts</h6>
            </div>*@
            </div>
            <br />
            <div class="card text-justify">
                <div class="card-body" @*style="display: none"*@>
                    <h4 class="card-title">CCS811</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Fumes and dust</h6>
                    <p class="card-text">As per schematic, CCS811 data line is I2C bus.</p>
                    <a href="#" class="card-link">code</a>
                </div>
                @*<div class="card-body">
                <h4 class="card-title">Locked</h4>
                <h6 class="card-subtitle mb-2 text-muted">Try to fix other parts</h6>
            </div>*@
            </div>
            <br />
            <div class="card text-justify">
                <div class="card-body" @*style="display: none"*@>
                    <h4 class="card-title">BZZ BZZ</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Mario sound</h6>
                    <p class="card-text">Very similar as controlling FAN1 and FAN2, but this time it is music.</p>
                    <a href="#" class="card-link">code</a>
                </div>
                @*<div class="card-body">
                <h4 class="card-title">Locked</h4>
                <h6 class="card-subtitle mb-2 text-muted">Try to fix other parts</h6>
            </div>*@
            </div>
        </div>
        <div class="col-md-4">
            <h3 class="text-center">Crack your head</h3>
            <br />
            <div class="card text-justify">
                <div class="card-body" @*style="display: none"*@>
                    <h4 class="card-title">RGB LEDs</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Everyone loves it</h6>
                    <p class="card-text">No idea yet</p>
                    <a href="#" class="card-link">code</a>
                </div>
                @*<div class="card-body">
                <h4 class="card-title">Locked</h4>
                <h6 class="card-subtitle mb-2 text-muted">Try to fix other parts</h6>
            </div>*@
            </div>
            <br />
            <div class="card text-justify">
                <div class="card-body" @*style="display: none"*@>
                    <h4 class="card-title">E18-MS1</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Wild, Wild bees</h6>
                    <p class="card-text">That module is for talking to bees, kidding it is able to talk with many smart-home devices around you. As example, IKEA TRÅDFRI.</p>
                    <a href="#" class="card-link">code</a>
                </div>
                @*<div class="card-body">
                <h4 class="card-title">Locked</h4>
                <h6 class="card-subtitle mb-2 text-muted">Try to fix other parts</h6>
            </div>*@
            </div>
        </div>
    </div>
    <br />
    <div class="col-4 text-left">
        <p>I guess you will find answers in materials below:</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="#">Dashboard schematic</a></li>
            <li class="list-group-item"><a href="#">Mainboard schematic</a></li>
            <li class="list-group-item"><a href="#">Allwiner H616 manual</a></li>
            <li class="list-group-item"><a href="#">WiringPi manual</a></li>
            <li class="list-group-item"><a href="#">Code samples</a></li>
        </ul>
    </div>
</div>