@page
@model IndexModel
@{
    ViewData["Title"] = "TheCode";
}
<div class="container-fluid text-center text-md-left">
    <div class="row">
        <div class="col-md-3 mt-md-0 mt-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Revive it!</h4>
                    <h6 class="card-subtitle mb-2 text-muted">3v3 is missing...</h6>
                    <p class="card-text">We are missing 3v3 from main board, seems like control signal is not given. Try to trace schematic for 3v3 enable signal and check if following pin is UP.</p>
                    <a href="#" class="card-link">Schematic</a>
                    <a href="#" class="card-link">Try code</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-md-0 mt-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-md-0 mt-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div>